#main{
    background-image:url("./School-Library-Management-Software-01.png");
    height: 100%;
    padding-bottom: 30%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}